# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    ignore:
      # Since we support older Node versions, we want our types to reflect the
      # lowest supported versions of Node APIs.
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
    open-pull-requests-limit: 10
    cooldown:
      default-days: 7
      semver-patch-days: 7
      semver-minor-days: 14
      semver-major-days: 21
    groups:
      minor-and-patch:
        applies-to: version-updates
        update-types:
          - 'minor'
          - 'patch'
        exclude-patterns:
          # TypeScript doesn't really follow semver.
          - typescript

  - package-ecosystem: 'github-actions'
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
