name: Lint

on: [push, pull_request, workflow_dispatch]

jobs:
  lint-and-format:
    name: Lint and Format
    timeout-minutes: 5
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm

      - run: npm ci
      - run: npm run lint
      - run: npm run format:check
